@import url(./main.css);

html, body {
  background-color: var(--editor);
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}

strong {
  font-weight: 600;
}
