@import url("../../src/assets/main.css");

html, body {
  background-color: var(--editor);
  color: var(--text);
  font-weight: 400 !important;
  font-size: 16px !important;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--text) !important;
}

strong {
  font-weight: 600 !important;
}
