:root {
  --bg: #fff7e5;
  --text: #121212;
  --card: #f5f5f5;
  --border: #dbdbdb;
  --navbar-bg: #db6307;
  --h1-color: rgb(255, 166, 0);
  --dash-h1-color: rgb(0, 0, 0);
  --modal-color: #ede6d6;
  --question-block-bg: #f4e5c0c5;
  --input-bg: #efd29fca;
  --editor: white;
  --editor-btn-bg: #ededed;
  --deselect-x: #6b7c8f;
}

.dark {
  --bg: #1a110b;
  --text: #eaeaea;
  --card: #1e1e1e;
  --border: #363636;
  --navbar-bg: #db6307;
  --h1-color: rgb(255, 166, 0);
  --dash-h1-color: rgb(255, 255, 255);
  --modal-color: rgb(29, 20, 2);
  --question-block-bg: #451b03;
  --input-bg: rgba(82, 76, 68, 0.812);
  --editor: #111;
  --editor-btn-bg: #2a2a2a;
  --deselect-x: #9aa7b3;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Momo Trust Display', sans-serif;
  font-weight: 200;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

strong {
  color: var(--text);
  font-weight: 400;
}
