@import url(./base.css);

:root {
  --bg: #fff7e5;
  --text: #121212;
  --card: #f5f5f5;
  --border: #dbdbdb;
  --navbar-bg: #db6307;
  --h1-color: rgb(255, 166, 0);
  --dash-h1-color: rgb(0, 0, 0);
  --modal-color: #ede6d6;
  --question-block-bg: #f4e5c0c5;
}

.dark {
  --bg: #1a110b;
  --text: #eaeaea;
  --card: #1e1e1e;
  --border: #363636;
  --navbar-bg: #db6307;
  --h1-color: rgb(255, 166, 0);
  --dash-h1-color: rgb(255, 255, 255);
  --modal-color: rgba(56, 55, 55, 0.845);
  --question-block-bg: #451b03;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Momo Trust Display', sans-serif;
  font-weight: 200;
}

html h1 {
  color: orange;
}

html h2 {
  color: var(--text);
}
